@use './typography';
@use './variables' as*;

// LIGHT STYLES
.skills.light {
    background-image:url('/assets/lightMode/lightSectionImage2.png') ;
}
.projects.light {
    background-image:url('/assets/lightMode/lightSectionImage.png') ;

}
.contact.light {
    background-image:url('/assets/lightMode/lightSectionImage3.png') ;

}


.skills h2.light {
    color: $lightModeFC;
    text-decoration: underline solid rgb(23, 23, 23) 8px;  
}
.projects h2.light {
    color: $lightModeFC;
    text-decoration: underline solid rgb(23, 23, 23) 8px;  
}
.contact h2.light {
    color: $lightModeFC;
    text-decoration: underline solid rgb(23, 23, 23) 8px;  
}

.skillIcon.light {
    color: #000000;
    text-shadow: 0 0 15px #fde5e5;     

}
.projects .wrapper p.light {
    color: #000000;
}
#prjDownArrow.light{
    color: $lightModeFC;
}
// SKILLS SECTION STYLES
.skills {
    border-top: solid rgb(252, 237, 239) 20px;
    height: 100vh;
    min-height: 860px;
    background-image:url('../assets/sectionImage2.png') ;
    background-size: cover;
        &:hover{
            border-top: solid rgb(236, 199, 199) 40px;
            transition: all 0.5s ease-in-out;

        }
    .wrapper{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items:center;
        .skillList{
            display: flex;
            width: 100%;
            margin-top: 100px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;

        }
        ul{
            padding: 0;
        }
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;

        }
    }
    h2{
        margin-top: 50px;
        color: $baseFC;
        font-size: clamp(1rem, 10vw, 3rem);
        text-decoration: underline solid rgb(252, 237, 239) 8px;  
    }
    i{
        font-size: clamp(3rem,7vw,6rem);
        color: rgb(252, 229, 229);
       
        &:hover{
            color: pink;
            transition: all 0.2s ease-in-out;
            transform: scale(1.01);
        }
       
    }
    h3{
        font-size: clamp(.8rem,2vw, 1.3rem);
        font-family: $secondaryFont;
        color: rgb(209, 213, 209);
        text-shadow: 0 0 8px #000000;     
        text-align: center;
        margin-top: 10px;
    }
}
// PROJECTS SECTION STYLES
.projects {
    border-top: solid rgb(252, 237, 239) 20px;
    min-height: 100vh;
    background-image: url('../assets/sectionImage.png');
    background-size: cover;
    padding-bottom: 75px;
    &:hover{
        border-top: solid rgb(236, 199, 199) 40px;
        transition: all 0.5s ease-in-out;

    }
    .wrapper{
        height: 100%;
        p {
            color: #fde5e5;
            margin-top: 20px;
        }
        .fa-angle-down{
            color: #fde5e5;
            margin-top: 15px;
            font-size: 2rem;
            position: relative; 
            animation: moveDown 1.2s ease-in-out infinite; 
          }
          
          @keyframes moveDown {
            0% {
              top: 0; 
            }
            50% {
              top: 10px; 
            }
            100% {
              top: 0; 
            }
          }
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items:center;
        .imgWrap{
            display: inline-block;
            width: 45%;
            position: relative;
            margin-top: 100px;

        }
        h3{
            color: $baseFC;
        }
        h4{
            font-family: $baseFont;
            text-shadow: 0 0 2px #000000;     
            padding: 5px 10px;

        }
        .liveLinks{
            color: $baseFC;
            background-color: #000000;
            font-size: 1.1rem;
            padding: 5px 10px;
            text-shadow: 0 0 8px #fbd7d7;     

            &:hover{
                color: pink;
                transform: scale(1.1);
            }
            &:focus{
                background-color: rgb(0, 116, 154);
            }
        }
        .projectContent{
            text-align: center;
            position: absolute;
            gap: 10px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s;
            &:focus{
                background-color: rgb(0, 116, 154);
            }
          }
        .imgWrap:hover .projectContent{
            opacity: 1;
            z-index: 10;

        }
        img {
            width: 100%;
            box-shadow:0 0 20px white ;
        }
        #firstProject {
            margin-right: 150px;
            
           

        }
        #secondProject {
            margin-left: 150px;
           

        }

    }

    h2{
        margin-top: 50px;
        color: $baseFC;
        font-size: clamp(1rem, 10vw, 3rem);
        text-decoration: underline solid rgb(252, 237, 239) 8px;  
    }
}

//  CONTACT SECTION STYLES

.contact {
    border-top: solid rgb(236, 199, 199) 20px;
    height: 100vh;
    min-height: 860px;
    background-image: url('../assets/sectionImage3.png');
    background-size: cover;
    &:hover{
        border-top: solid rgb(236, 199, 199) 40px;
        transition: all 0.5s ease-in-out;

    }
    .wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    }
    h2{
        margin-top: 50px;
        color: $baseFC;
        font-size: clamp(1rem, 10vw, 3rem);
        text-decoration: underline solid rgb(252, 237, 239) 8px;  
    }
    form{
        margin-top: 100px;
        width: 75%;
        box-shadow: 0 0 150px white;
    }
    .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    }

    .form-group label {
    margin-bottom: 5px;
    }

    .form-group input, .form-group textarea {
    padding: 10px;
    border: none;
    font-size: 1rem;
    font-family: $secondaryFont;
    background-color: #fbf4f4;

    }

    .form-group input:focus, .form-group textarea:focus {
    outline: none;
    }

    .form-group textarea {
    height: 150px;
    resize: none;
    }

    .submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #ffd3d3;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #ff8080;
        transform: scale(1.01);

    }
    }

}
