@use './typography';
@use './variables' as*;

@media (max-width: 1000px) {

    .projects .wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items:center;
        .imgWrap{
            display: inline-block;
            width: 100%;
            position: relative;
            margin-top: 100px;

        }

        #firstProject {
            margin-right: 0;
            
           

        }
        #secondProject {
            margin-left: 0;
           

        }
    }

    .contact form {
        width: 100%;
    }





}